.orderView{
  /* border: 3px solid green; */
 /* background-image: url('/public/img/viewbg.jpg'); */
 background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.orderbg{
  /* background-image: url('/public/img/view2.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
 
}